* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(221, 181, 130);
}

/****************
Global Variables
******************/
:root {
  --primaryClr: rgb(92, 38, 38);
  --primaryClr-lighter: rgb(152, 61, 61);
  --primaryClr-darker: rgb(74, 30, 30);
  --secondaryClr: rgb(154, 93, 93);
  --secondaryClr-lighter: rgb(228, 135, 135);
  --secondaryClr-darker: rgb(81, 29, 29);

  --fontSize: 1.25rem;
  --radius: 10rem;

  --border-clr: white;
  --border: 0.5rem solid var(--border-clr);
  --complete-color-1: green;
  --complete-color-2: var(--secondaryClr-lighter);
  --delete-color-1: rgb(247, 7, 7);
  --delete-color-2: var(--secondaryClr-lighter);

  --boxShadowClr: rgb(171, 128, 73);
}
/****************
BTNs Styles
******************/
.btn {
  padding: 0 0.5rem;
  margin-left: 0.3rem;
  border-radius: 6px;
  font-size: var(--fontSize);
  cursor: pointer;
  transition: all 0.2s linear;
}
.complete-btn {
  color: var(--complete-color-1);
  background: var(--complete-color-2);
  margin-left: 1rem;
}
.complete-btn:hover {
  background: var(--complete-color-1);
  color: var(--complete-color-2);
}
.delete-btn {
  margin-left: 1rem;
  color: var(--delete-color-1);
  background: var(--delete-color-2);
}
.delete-btn:hover {
  background: var(--delete-color-1);
  color: var(--delete-color-2);
}

/****************
Layout  Style
******************/
main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
    ". .  ."
    ". a  ."
    ". b  ."
    ". .  .";
  height: 100vh;
  width: 100vw;
}
.items-container,
.input-container {
  border: var(--border);
  border-radius: var(--radius);
  min-width: 24rem;
}
/*******************
Input Container style
********************/
.input-container {
  box-shadow: 10px -5px 10px var(--boxShadowClr),
    -10px -5px 10px var(--boxShadowClr);

  position: relative;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  grid-area: a;
  text-align: center;
  background: var(--secondaryClr);
  border-bottom: none;
}
.heading {
  margin: 1rem 0 4rem 0;
  text-transform: capitalize;
  color: var(--border-clr);
}
.list-input {
  border: none;
  cursor: pointer;
  outline: none;
  padding-left: 1rem;
  transition: all 0.3s linear;
  /* border: 1px solid black; */
}
.list-input:focus {
  border: 2px solid black;
}

.add-btn {
  padding: 0.3rem 0.75rem;
  margin-left: 0.75rem;
  background: var(--primaryClr-lighter);
  color: var(--border-clr);
  border: none;
  outline: none;
  transition: all 0.2s linear;
}
.add-btn:hover {
  background: var(--primaryClr-darker);
  transform: scale(1.05);
}

.form {
  display: flex;
  justify-content: center;
}

/*******************
Items Container style
********************/
.items-container {
  box-shadow: 10px 10px 10px var(--boxShadowClr),
    -10px 10px 10px var(--boxShadowClr);
  height: 40vh;
  padding: 2rem;
  grid-area: b;
  background: var(--primaryClr);
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/****************
List-Item Style 
******************/
.list-item {
  margin-top: 0.4rem;
  display: flex;
  align-content: center;
  justify-content: center;
}
.item {
  padding: 0.2rem 0;
  width: 60%;
  padding-right: 2rem;
  padding-left: 0.5rem;
  align-self: center;
  font-size: var(--fontSize);
  border: var(--primaryClr-lighter) 3px solid;
  border-radius: 6px;
  background: linear-gradient(
    90deg,
    rgb(223, 223, 223) 90%,
    var(--secondaryClr-lighter) 10%,
    var(--primaryClr-lighter)
  );
  clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 90% 100%, 0% 100%);
  cursor: default;
}
div.btn {
  position: relative;
  align-self: center;
  top: 0;
  height: 2rem;
  width: 2rem;
}
i {
  position: absolute;
  top: -4px;
  left: -1px;
}
/* Javascript added MessagBox*/
.success,
.error {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.1rem;
  text-transform: capitalize;
  border: var(--border);
  min-width: 40%;
  padding: 0.2rem;
  border-radius: var(--radius);
  animation: pop 1.5s ease-out;
}
.value {
  font-weight: bold;
  color: var(--secondaryClr-darker);
}
.error {
  border: 2px solid red;
  background: rgb(243, 82, 109);
  color: white;
}
.success {
  color: var(--primaryClr-darker);
  background: lightgreen;
  border: 2px solid green;
}
@keyframes pop {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
